/* Author: Your Name Here  */

html {  
  background-color: #FFF;
  background: url(http://subtlepatterns.com/patterns/mirrored_squares.png);
  background-attachment: fixed;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  color: #FFF;
}

header {
  text-align: center;
  padding: 20px;
  height: 100%;
}

header h1 {
  font-size: 80px;
  color: #FFF;
  font-family: Satisfy;
  text-shadow: 2px 2px 0px rgba(150, 150, 150, 1);
}

#scrollButton {
  display: block;
  bottom: 0;
  height: 65px;
  background: url('http://www.clker.com/cliparts/y/m/X/o/s/R/down-arrow-circle-hi.png');
  background-size: 30px;
  background-position: bottom center;
  background-repeat: no-repeat;
  font-family: Satisfy;
  font-size: 26px;
  text-decoration: none;
  color: #FFF;
}

section {
  width: 700px;
  margin: 0 auto;
  padding: 50px 0;
}

#gallery {
  text-align: center;
  min-height: 100%;
}

#gallery img {
  height: 100px;
  display: inline-block;
  margin: 5px;
  border: 5px solid #FFF;
}

