.page-wrapper {
	height: 100%;
	padding-top: 50px;

	p {
		margin: 0 0 15px 0;
	}

	& > p:first-of-type {
		color: $first-paragraph-color;
		font-size: 120%;
		margin: 0 0 20px 0;
	}

	& > .row {
		height: 100%;
		width: 100%;
		max-height: 100%;
	}
}

.home .page-content {
	padding-top: 60px;
	padding-bottom: 150px;
	max-height: 100%;
	overflow: scroll;
}

@media (max-width: 978px) {

    .page-content {
        max-height: auto;
        overflow: visible;
    }
}

.recipe .page-content>div {

	padding-top: 20px;
	padding-bottom: 40px;

	&:nth-of-type(2n) {
		background-color: #fcfcf1;
		border: 1px solid #FFF;
		border-radius: 5px;
	}

	h2 {
		margin-top: 20px;
	}

}
