/**
 * This is the only SCSS file which should contain
 * project-specific styles.
 *
 */

$splash-header-color: #02548C;

$heading-color: #333;

$link-color: #02548C;
$link-hover: #1A84CD;
$link-active: #02548C;
$link-visited: #02548C;

$first-paragraph-color: #1A84CD;

$baseurl: '/Building-with-jQuery'
